@use "../base/variables" as var;

.header {
  align-items: center;
  gap: 0;
  padding: 10px 16px;
  background: var.$color-primary;
  height: 62px;

  &-container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
  }
  &-business{
    &__logo {
        height: 40px;
      }
    &__title{
      display: none;
    }
  }
}
