@use "./variables" as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  background: var.$color-secondary;
  color: var.$color-text;
}